h2{
    text-align: center;
    font-size: 2rem;
    color: #741188;
    border-bottom: 2px solid #741188;
}

#back{
    clip-path: polygon(40% 0%, 40% 20%, 100% 20%, 100% 80%, 40% 80%, 40% 100%, 0% 50%);
    text-decoration: none;
    background-color: #50095e;
    color: white;
    display: inline-block;
    margin: 0.5rem 0 0 0.5rem;
    padding: 0.8rem;
}#back:hover{
    background-color: #741188;
}