table {
    border-collapse: collapse;
    box-shadow: 0 2px 8px black;
    margin: auto;
}

th, td{
    border: 2px solid black;
    text-align: center;
    padding: 0.3rem;
}

th{
    background-color: #741188;
    color: white;
}

td{
   background-color: #ebebeb;
}

td a{
    text-decoration: none;
    color: black;
    font-weight: 700;
}td a:hover{
    color: #741188;
    text-decoration: underline;
}
